.button {
    background: var(--blue-dark);
    color: var(--white);
    margin-top: calc(0px - 1.5rem - 2px);
    padding: 1rem 1rem;
    border: none;
    border-radius: 8px;
    display: flex;  
    gap: 0.5rem;
    cursor: pointer;
}

.button span {
    font-size: 0.875rem;
    font-weight: 600;
}
.button > svg {
    align-self: center;
    justify-content: center;
}